* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// $primary:#151017;
// $secondary:#231B26;
// $black: #000;
// $white: #fff;
$medium-header: 32px;
// .container {
//     padding: 0 200px;
//     color: $black;
// }
// .container{
//     padding: 0 190px;
    
// }